#terminal{
    position: absolute;
    z-index: 30;
    border-color: rgba(00,00,00,0);
    border-bottom-color: green;
    border-style: solid;
    background-color: rgba(96, 160, 155, 0.3);
}

#cliContainer{
    position: absolute;
    text-align: justify;
    z-index: 30;
    height: auto;
    width: 20vw;
    transition: all .17s;
    background-color: rgba(00,00,00,0.8);
    line-break: pre-line;

}

.outputClosed{
    border-top: green solid 0vw;
    border-bottom: green solid 0vw;
    padding-bottom: 0vh;

}


  /*
this @media rule applies when the width < height of browser.
*/
@media only screen and (orientation: portrait) {

    #errorImg{
        width: 50vw;
    }

    #terminal{
        width: 50vw;
        height: 3vh;
        top:77vh;
        left:30vw;
        font-size: 2vh;
    }

    #cliContainer{
        font-size: 2vw;
        width:50vw;
        top:80vh;
        left: 30vw;
    }

    .outputOpen{
        border-top: green solid 1vw;
        border-bottom: green solid 1vw;
        padding-bottom: 3vh;
    }

    #cliText{
        padding-left: 2vw;
        padding-right: 2vw;
    }


}

@media only screen and (orientation: landscape) {

    #errorImg{
        width: 20vw;
    }

    #terminal{
        font-size: 3vh;
        width:30vw;
        height: 4vh;
        right: 5vw;
        top: 66vh;
    }

    #cliContainer{
        top:70vh;
        left: 65vw;
        width:30vw;
        font-size: 2vh;
    }

    #cliText{
        padding-left: 2vh;
        padding-right: 2vh;
    }

    .outputOpen{
        border-top: green solid 1vh;
        border-bottom: green solid 1vh;
        padding-bottom: 3vh;
    }
}