@font-face {
    font-family: HackerFont;
    src: url(src/assets/text/font.ttf)
}

body{
    font-family: HackerFont;
    color: green;
    text-align: center;
    overflow: hidden;
}

#shopContainer{
    width: 90vw;
    margin: 5vw;
}

#sound {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:left;
    position: fixed;
    bottom:1vh;
}

#music {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float:left;
    position: fixed;
    bottom:1vh;
}

#coins{
    position:sticky;
}

.menuButton {
    border-color: green;
    border-style: solid;
    background-color: black;
    outline: none;
    cursor: pointer;
}

input:hover {
    background-color: greenyellow;
}

input:active {
    background-color: greenyellow;
  }

/*Area that the shop elements are in (aka everything except the top nav 
and sound & music buttons).*/
#shopScreen{
    animation-name: unfoldIn;
    animation-duration: 0.8s;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    height: 84vh;
    overflow: auto;
    z-index: 3;
}

/*Keyframes for shop screen animation*/
@keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
  }
/*Animation on top of the shop screen*/
#shopOverlay {
    opacity: 0.45;
    width: 100%;
    position:absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index:2;
    float:left;
    pointer-events: none;
}

/*Scrollbar styling*/
::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: greenyellow
}

/* The Modal (background) */
#purchaseModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    pointer-events: none;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgb(10,10,10,0.2);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
  }



  /*
this @media rule applies when the width < height of browser.
*/
@media only screen and (orientation: portrait) {


    body {
        font-size: 5vw;
        width: 100w;
        height: auto;
    }

    #shopContainer{
       font-size: 2vw;
    }
    
    #osImg{
        height: auto;
        width: 10vw;
        top: 10vh;
        right: 5vw;
    }

    #terminal{
        font-size: 3vw;
        width:50vw;
        height: 4vw;
        right: 5vw;
        bottom: 5vh;
    }

    h1{
        font-size: 5vw
    }
    
    h2 {
        font-size:3vw;
    }
    
    .firewall {
        width:auto;
        height:50vh;
    }
    
    #sound {
        width:10vw;
        height:auto;
    }
    
    #music {
        width:10vw;
        height:auto;
        left: 12vw;
    }
    
    .bitcoin {
        font-size:4vw;
    }
    
    .menuButton {
        padding:1vw;
        font-size: 2vw;
        margin:2vw;
    }

    #shopOverlay {
        height: 84vw;
    }

}

@media only screen and (orientation: landscape) {


    body {
        font-size: 4vh;
        width: auto;
        height: 100vh;
    }


    #shopContainer{
        font-size: 4vh;
     }
    

    #osImg{
        height: auto;
        width: 10vh;
        top: 10vh;
        right: 5vw;
    }

    #terminal{
        font-size: 3vh;
        width:40vw;
        height: 4vh;
        right: 5vw;
        bottom: 5vh;
    }
    
    h2 {
        font-size:4vh;
    }
    
    .firewall {
        width:auto;
        height:50vh;
    }
    
    #sound {
        width:10vh;
        height:auto;
    }
    
    #music {
        width:10vh;
        height:auto;
        left: 12vh;
    }
    
    .bitcoin {
        font-size:4vh;
    }
    
    .menuButton {
        padding:3vh;
        font-size: 4vh;
        margin:3vh;
    }

    #shopOverlay {
        height: 84vh;
    }

}