@font-face {
    font-family: HackerFont;
    src: url(src/assets/text/font.ttf)
}

body{
    font-family: HackerFont;
    color: green;
    text-align: center;
    overflow-x: hidden;
}

#coins {
    border: .3vw solid green;
    padding: .3vw;
    background-color: greenyellow;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: sticky; 
    pointer-events: none;
}

/*Animation on top of the shop screen*/
#shopOverlay {
    opacity: 0.49;
    width:99vw;
    position:absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index:2;
    float:left;
    pointer-events: none;
}

/*Area that the shop elements are in (aka everything except the top nav 
and sound & music buttons).*/
#shopScreen{
    width: 100vw;
    animation-name: unfoldIn;
    animation-duration: 0.8s;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    overflow-x: hidden;
    z-index: 3;
}

/*Keyframes for shop screen animation*/
@keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
  }

/*Scrollbar styling*/
::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: greenyellow
}

/* The Modal at the bottom of the screen */
#purchaseModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    pointer-events: none;
  }
  
  /* Content of the modal at the bottom of the screen */
  .modal-content {
    background-color: black;
    color: green;
    margin: auto;
    padding: 10px;
    border: 2px solid green;
    width: fit-content;
  }

table {
    table-layout:fixed;
    border: .3vw solid green;
    word-wrap: break-word;
}

td {
    border: .3vw solid green;
    text-align: left;
    word-wrap: break-word;
}

.itemCell{   
    text-align: right;
    width: 25vw;
}

.powerCell{
    text-align: center;
    width: 8vw;
}

.priceCell{
    text-align: center;

    width: 15vw;
}

.descCell{
    width: 35vw;
}

.buyCell{
    text-align: center;
    width: 10vw;
    background: linear-gradient(176deg, rgba(00,00,00,0.5) 66%, green);
    cursor: pointer;
}


.buyCell:hover {
    background: linear-gradient(176deg, rgba(00,00,00,0.5) 66%, greenyellow);
    color: white;
}

.buyCell:active {
    background-color: greenyellow;
    color: white;
}

  /*
this @media rule applies when the width < height of browser.
*/
@media only screen and (orientation: portrait) {



    h1{
        font-size: 5vw
    }
    
    h2 {
        font-size:3vw;
    }

    #shopOverlay {
        height: 96vh;
    }

    table{
        margin-left: 1.5vw;
    }

    td {
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: .5vw;
        padding-right: .5vw;
        font-size: 2vw;
    }

    #shopContainer{
        width: 96vw;
        margin: 2vw;
        font-size: 2vw;
    }

    #shopScreen {
        height: 88vh;
    }

    #coins {
        top: 3vw;
    }

    #purchaseModal {
        padding-top: 90vw;
    }

}

@media only screen and (orientation: landscape) {


    body {
        font-size: 4vh;
        width: auto;
    }    
    
    h2 {
        font-size:4vh;
    }

    table{
        margin-left: 1.5vw;
    }

    

    #shopOverlay {
        height: 95vh;
    }

    td {
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: .5vw;
        padding-right: .5vw;
        font-size: 3vh;
    }

    #shopScreen {
        height: 83vh;
    }

    #coins {
        top: 3vh;
    }

    #purchaseModal {
        padding-top: 90vh;
    }


}