@font-face {
    font-family: HackerFont;
    src: url(src/assets/text/font.ttf)
}

html{
    position: fixed;
    overflow:hidden;
}

body{
    font-family: HackerFont;
    color: green;
    text-align: center;
    overflow: hidden;
}

.ram{
    position: absolute;
    z-index: 10;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



  /*
this @media rule applies when the width < height of browser.
*/
@media only screen and (orientation: portrait) {


    body {
        font-size: 5vw;
        width: 100vw;
        height: 95vh;
    }

    h2 {
        font-size:5vw;
    }
    
    .stats{
        font-size: 3vw;
    }

    .ram{
        width: 10vw;
        top: 50vh;
        right: 15vw;;
    }
    
    .bitcoin {
        font-size:3vw;
    }


}

@media only screen and (orientation: landscape) {


    body {
        font-size: 4vh;
        width: 100vw;
        height: 95vh;
    }


    .ram{
        width: 10vh;
        bottom: 10vh;
        right: 50vw;;
    }
    
    
    h2 {
        font-size:4vh;
    }

    
    .bitcoin {
        font-size:3vh;
    }
    
}