@font-face {
    font-family: HackerFont;
    src: url(src/assets/text/font.ttf)
}

* {
    font-family: HackerFont;
    color: green;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}

input {
    padding:5px;
    font-size: 15px;
    border-color: green;
    border-style: solid;
    outline: none;
    cursor: pointer;
}

input:hover {
    background-color: greenyellow;
}

input:active {
    background-color: greenyellow;
  }

#sound {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:7%;
    height:auto;
    float:left;
    position: fixed;
    bottom:1%;
}

#music {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:7%;
    height:auto;
    float:left;
    position: fixed;
    bottom:1%;
    left: 8%;
}
@media only screen and (orientation: landscape) {   
    th,td
    {
        font-size: 1.5vw;
    }
    h1,h2
    {
        font-size: 2vw;
    }
    p
    {
        font-size: 1.5vw;
    }
    input
    {
        font-size: 2vw;
    }
    #sound
    {
        height: 6vw;
    }
    #music
    {
        height: 6vw;
    }
}       
@media only screen and (orientation: portrait) {   
    th,td
    {
        font-size: 3vw;
    }
    h1,h2
    {
        font-size: 5vw;
    }
    p
    {
        font-size: 4vw;
    }

}       