@font-face {
    font-family: HackerFont;
    src: url(src/assets/text/font.ttf)
}

* {
    font-family: HackerFont;
    color: green;
    text-align: center;
}
div{
    overflow: auto;
    height: 84vh;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}
table {
    margin-left: auto;
    margin-right: auto;
}

input {
    border-color: green;
    border-style: solid;
    background: linear-gradient(176deg, rgba(00,00,00,0.5) 66%, green);
    outline: none;
    cursor: pointer;
    padding: 10px;
}

input:hover {
    background: linear-gradient(176deg, rgba(00,00,00,0.5) 66%, greenyellow);
    color: white;
}

input:active {
    background-color: greenyellow;
    color: white;
  }

#sound {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10vh;
    height:auto;
    float:left;
    position: fixed;
    bottom:1%;
}

#music {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10vh;
    height:auto;
    float:left;
    position: fixed;
    bottom:1%;
    left: 12vh;
}

/*Scrollbar styling*/
::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: greenyellow
}

table {
    border: 3px solid green;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

td {
    border: 3px solid green;
    padding: 20px;
    text-align: center;
    font-size: 3vh;
}

