#networkSelect{
    background-color: rgba(00,00,00,.7);
    border-bottom-color:green;
    position: absolute;
    z-index: 20;
}

.networkButton{
    background: linear-gradient(176deg, rgba(00,00,00,0.5) 66%, green);
    border-color: green;
    padding: 1vh;
    margin: 1vh;    
}

#networkList{
    list-style-type: none;
}

#networksButton{
    z-index:7;
    justify-content: center;
    position:absolute;
}

#hackTarget{
    position: absolute;
    float:left;
}

.netOpen{
    display: block;
}

.netClose{
    display: none;
}

.firewall{
    border-radius: 35%;
}

/*
this @media rule applies when the width < height of browser.
*/
@media only screen and (orientation: portrait) {

    #hackTarget{
        top: 10vh;
        left: 20vw;
    }

    #hackText{
        font-size: 2vw;
    }

    #networkSelect{
        width: 90vw;
        margin: 5vw;
        height: 80vh;
        font-size: 3vw;
    }

    .networkButton{
        font-size: 2.5vw;
        width: 80vw;
        max-width: 90vw;
        height: 6vh;
    }

    #networksButton{
        width: 20vw;
        bottom: 15vh;
        right: 15vw;
    }

    .firewall {
        width:auto;
        height:33vh;
    }

    .stats{
        font-size: 1.8vw;
    }

}

@media only screen and (orientation: landscape) {

    #networkSelect{
        width: 90vw;
        margin: 5vw;
        height: 80vh;
        font-size: 3vw;
        top:0;
        right:0;
    }

    .networkButton{
        font-size: 2vh;
        width: 40vw;
        height: 6vh;
    }

    #networksButton{
        height: 20vh;
        bottom: 10vh;
        left: 17vw;
    }

    #hackTarget{
        top: 10vh;
        left: 35vw;
    }

    #hackText{
        font-size: 2vh;
    }

    .stats{
        font-size: 1vw;
    }
    
    .firewall {
        width:auto;
        height:50vh;
    }
    
}