@font-face {
    font-family: HackerFont;
    src: url(../assets/text/PressStart2P-Regular.ttf)
}

* {
    font-family: HackerFont;
    color: green;
    text-align: center;
}

h2 {
    font-size: 30px;
}

table {
    margin-left: auto;
    margin-right: auto;
}
.lable {
    font-size: 20px;
    text-align: right;
}

.boxes {
    padding:15px;
    font-size: 25px;
    border-color: green;
    border-style: solid;
    background-color: black;
    outline: none;
    margin-bottom: 5px;
}

.submit {
    padding:15px;
    font-size: 25px;
    border-color: green;
    border-style: solid;
    background-color: black;
    outline: none;
    cursor: pointer;
}

.submit:hover {
    background-color: greenyellow;
}

.submit:active {
    background-color: greenyellow;
  }

.message {
    font-size: 25px;
}

#sound {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:7%;
    height:auto;
    float:left;
    position: fixed;
    bottom:1%;
}

#music {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:7%;
    height:auto;
    float:left;
    position: fixed;
    bottom:1%;
    left: 8%;
}