@font-face {
    font-family: HackerFont;
    src: url(src/assets/text/font.ttf)
}

body{
    font-family: HackerFont;
    color: green;
    text-align: center;
    overflow-x: hidden;
    height: auto;
}

.tableHeadCell{
    padding: 1vw;
}

.tableRow{
    border-color: rgba(00,00,00,0);
    border: solid;
}

#shopContainer{
    width: 90vw;
    margin-left: 5vw;
}

.tableCell{
    padding: 1vw;
}

#sound {
    float: left;
    position:   fixed;
}

#music {
    float: left;
    position: fixed;
}

.menuButton {
    border-color: green;
    background: linear-gradient(176deg, rgba(00,00,00,0.5) 66%, green);
    outline: none;
    cursor: pointer;
}

input:hover {
    background-color: greenyellow;
}

input:active {
    background-color: greenyellow;
  }


  /*
this @media rule applies when the width < height of browser.
*/
@media only screen and (orientation: portrait) {


    body {
        font-size: 5vw;
    }

    #shopContainer{
        font-size: 2vw;
        margin-bottom: 10vh;
    }
    
    .tableCell{
        padding: 1vw;
    }
    
    h1{
        font-size: 5vw
    }
    
    h2 {
        font-size:3vw;
    }
    
    #sound {
        width:auto;
        top:92vh;
        height:7vh;
        left: 2vw;
    }
    
    #music {
        width:auto;
        height:7vh;
        top:92vh;
        left: 17vw;
    }
    
    .bitcoin {
        font-size:4vw;
    }
    
    .menuButton {
        padding:1vw;
        font-size: 2vw;
        margin:2vw;
    }

}

@media only screen and (orientation: landscape) {


    body {
        font-size: 4vh;
        width: auto;
    }

    #shopContainer{
        font-size: 2vh;
        margin-bottom: 10vh;
    }
    
    .tableCell{
        padding: 1vh;
    }
    
    
    h2 {
        font-size:4vh;
    }
    
    #sound {
        width:auto;
        top:90vh;
        height:10vh;
        left: 5vw;
    }
    
    #music {
        width:auto;
        height:10vh;
        top:90vh;
        left: 15vw;
    }
    
    .menuButton {
        padding:3vh;
        font-size: 4vh;
        margin:3vh;
    }

}