@font-face {
    font-family: HackerFont;
    src: url(src/assets/text/font.ttf)
}

html{
    position: fixed;
    overflow:hidden;
}

body{
    font-family: HackerFont;
    color: green;
    text-align: center;
    overflow: hidden;
}

#networkSelect{
    background-color: rgba(00,00,00,.7);
    border-bottom-color:green;
    width: 90vw;
    margin: 5vw;
    height: 80vh;
    font-size: 3vw;
}

.networkButton{
    background-color: rgba(00,00,00,.5);
    border-color: rgba(00,00,00,0);
    border-bottom-color: green;
    border-right-color: green;
    padding: 1vh;
    margin: 1vh;    
}

#networkList{
    list-style-type: none;
}

.ram{
    width: 10vw;
    height: auto;
    position: absolute;
    z-index: 10;
}

#networksButton{
    z-index:7;
    position:absolute;
}

#hackTarget{
    position: absolute;
    float:left;
}

#osGUI{
    position: absolute;
    top:0;
    left:0;
}

.netOpen{
    position: absolute;
    width: 60vw;
    height: 60vh;
    z-index: 20;
    display: block;
}

.netClose{
    display: none;
}

.hidden{
    opacity:0;
    animation: fadeOut .5s;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } 

.visible{
   animation: fadeIn .5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;} 
 } 


#osImg{
    z-index: 5;
    float:left;
    overflow:hidden;
}

#minimizeButton{
    background-color: rgba(22,22,22,0.3);
    border-color: rgba(00,00,00,0);
    border-bottom-color: green;
    position:relative;
}

#shopGUI{
    position: absolute;
    z-index: 6;
    overflow:hidden;
}

#multiGUI{
    position: absolute;
    z-index: 6;
    overflow:hidden;
}

#prestigeGUI{
    position: absolute;
    z-index: 6;
    overflow:hidden;
}

#terminal{
    position: absolute;
    z-index: 10;
    border-color: rgba(00,00,00,0);
    border-bottom-color: green;
    border-style: solid;
    background-color: rgba(96, 160, 155, 0.3);
    float:right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sound {
    float: left;
    position: fixed;
    bottom: 1vh;
}

#music {
    float: left;
    position: fixed;
    bottom: 1vh;
}

.firewall{
    border-radius: 35%;
}

#settings {
    float: left;
    position: fixed;
    bottom: 1vh;
}

.menuButton {
    border-color: green;
    border-style: solid;
    background-color: black;
    outline: none;
    cursor: pointer;
}

input:hover {
    background-color: greenyellow;
}

input:active {
    background-color: greenyellow;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  .modal-content {
    background-color:black;
    text-align: center;
    padding: 20px;
    overflow: auto;
    border: 1px solid green;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s; 
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  .close {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
  }

  .horizontalLine{
      border: 2px solid green;
  }

  .Minus {
      display:inline;
      position: static;
  }
  .Volume {
      display:inline-block;
  }
  .Plus {
    display:inline;
    position: static;
  }


  /*
this @media rule applies when the width < height of browser.
*/
@media only screen and (orientation: portrait) {


    body {
        font-size: 5vw;
        width: 100vw;
        height: 95vh;
    }


    #osGUI{
        width: auto;
        height: auto;
        top: 66vh;
        left: 5vw;
    }

    #hackText{
        font-size: 3vw;
    }

    #networkSelect{
        width: 90vw;
        margin: 5vw;
        height: 80vh;
        font-size: 3vw;
    }

    .networkButton{
        font-size: 2.5vw;
        width: 80vw;
        height: 6vh;
    }


    #networksButton{
        width: 20vw;
    }

    
    #osImg{
        height: auto;
        width: 20vw;
        top: 10vh;
        right: 5vw;
    }

    #shopGUI{
        top: 0vh;
        left: 20vw;
        width: 10vw;
        height: auto;
    }
    
    #multiGUI{
        top: 5vh;
        left: 20vw;
        height: auto;
        width: 10vw;
    }
    
    #prestigeGUI{
        top:10vh;
        left: 20vw;
        height: auto;
        width: 10vw;
    }

    #terminal{
        font-size: 3vw;
        width:50vw;
        height: 4vw;
        right: 5vw;
        top: 66vh;
    }
    
    h2 {
        font-size:5vw;
    }
    
    .stats{
        font-size: 3vw;
    }

    .firewall {
        width:auto;
        height:50vh;
    }

    .ram{
        width: 10vw;
    }
    
    #sound {
        width:10vw;
        height:auto;
    }
    
    #music {
        width:10vw;
        height:auto;
        left: 12vw;
    }

    #settings {
        width:10vw;
        height:auto;
        left: 208vw;
    }
    
    .bitcoin {
        font-size:3vw;
    }
    
    .menuButton {
        padding:1vw;
        font-size: 2vw;
        margin:2vw;
    }

    .modal-content {
        width: 180vw;
        height:90vw;
        left:20vw;
        top:5vw;
      }

    @-webkit-keyframes slideIn {
    from {top: 100vw; opacity: 0} 
    to {top: 5vw; opacity: 1}
    }

    @keyframes slideIn {
    from {top: 100vw; opacity: 0} 
    to {top: 5vw; opacity: 1}
    }
    .Volume {
        width: 70vw;
        height: 40vw;
      }

}

@media only screen and (orientation: landscape) {


    body {
        font-size: 4vh;
        width: 100vw;
        height: 95vh;
    }


    #osGUI{
        width: 23vw;
        height: 30vh;
        top: 33vh;
        left: 5vw;
    }
    

    #osImg{
        height: auto;
        width: 30vh;
    }


    #networkSelect{
        width: 50vw;
        margin: 5vw;
        height: 80vh;
        font-size: 3vh;
        top:80vh;
        right:20vw;
    }

    .networkButton{
        font-size: 2.5vh;
        width: 40vw;
        height: 6vh;
    }


    #networksButton{
        height: 20vh;
    }

    #hackTarget{
        left: 30vw;
    }

    #hackText{
        font-size: 3vh;
    }

    
    #shopGUI{
        top: 0;
        left: 15vw;
        width: 15vh;
        height: auto;
    }

    .ram{
        width: 10vh;
    }
    
    #multiGUI{
        top: 15vh;
        left: 15vw;
        height: auto;
        width: 15vh;
    }
    
    #prestigeGUI{
        top: 30vh;
        left: 15vw;
        height: auto;
        width: 15vh;
    }

    #terminal{
        font-size: 3vh;
        width:30vw;
        height: 4vh;
        right: 5vw;
        top: 66vh;
    }
    
    h2 {
        font-size:4vh;
    }
    
    .firewall {
        width:auto;
        height:50vh;
    }
    
    #sound {
        width:10vh;
        height:auto;
    }
    
    #music {
        width:10vh;
        height:auto;
        left: 12vh;
    }

    .stats{
        font-size: 3vh;
    }
    
    #settings {
        width:10vh;
        height: auto;
        left: 208vh;
    }
    
    .bitcoin {
        font-size:3vh;
    }
    
    .menuButton {
        padding:3vh;
        font-size: 4vh;
        margin:3vh;
    }
    .modal-content {
        width: 180vh;
        height:90vh;
        top: 5vh;
        left: 20vh;
      }

    @-webkit-keyframes slideIn {
    from {top: 100vh; opacity: 0} 
    to {top: 5vh; opacity: 1}
    }

    @keyframes slideIn {
    from {top: 100vh; opacity: 0} 
    to {top: 5vh; opacity: 1}
    }
    .Volume {
        width: 70vh;
        height: 40vh;
      }
}