<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Welcome to the Prestige Shop!</h1>
            <!-- Stuff that is in {{}} means to grab data from the .ts file and put it there. -->
        <!-- In this case, we grab prestige points data from app.page-shop.ts and put it here. -->
        <!-- You can find out what data is available to grab by looking at the variables below "export class PagePrestigeComponent" in app.page-prestige.ts -->
        <h2>Your prestige points: {{prestigePoints}}</h2>
        <h2>Your bitcoins: {{bitcoin}}</h2>
        
        <div class='prestigeInfo'>
            <p>Prestige points require bitcoins... but reset the game. <b>This is your only warning.</b></p>
            <p>Everything will be reset except your prestige points. These prestige items help hasten your game progress and bring special benefits.</p>
            <p>You can currently buy {{purchaseablePrestige}} prestige points</p>
            <p>Next Prestige Point at {{nextPrestige}} Bitcoins</p>
        </div>
        <input class='menuButton' type="button" value="Buy Prestige Point" (click)="buyPrestigePoint();clickSound()" (mouseenter)="hoverSound()">
        <div id='shopContainer'>
        <table>
            <tr>
                <td class='tableCell'>
                    NAME
                </td>
                <td class='tableCell'>
                    POWER
                </td>
                <td class='tableCell'>
                    COST
                </td>
                <td class='tableCell'>
                    Description
                </td>
            </tr>
            <!-- *ngFor attribute is basically a for loop. -->
            <!-- In this case, we make a new table row for each item in prestigeArray -->
            <tr class='tableRow' *ngFor="let thing of prestigeArray">
                <td class='tableCell'>
                    <!-- Stuff that is in {{}} means to grab data from the .ts file and put it there. -->
                    <!-- In a *ngFor loop, its a bit different. I think you can figure it out. -->
                    <!-- We use a for loop to parse prestigeArray from app.page-prestige.ts and we can use the variable we assigned in the for loop to display each item. -->
                    {{thing.item}}
                </td>
                <td class='tableCell'>
                    {{thing.power}}
                </td>
                <td class='tableCell'>
                    {{thing.price}}
                </td>
                <td class='tableCell'>
                    {{thing.desc}}
                </td>
                <td class='tableCell'>
                    <!-- The (click) attribute is basically: "execute this function when clicked on" -->
                    <!-- In this case, when the Buy... anonymously button is clicked, execute buy() in app.page-prestige.ts with parameters of item name and price in the for loop. -->
                    <input class='menuButton' type='button' value='Buy' (click)='buy(thing.item, thing.price);clickSound()' (mouseenter)="hoverSound()"/>
                </td>
            </tr>
            
        </table>

        <!-- Stuff that is in {{}} means to grab data from the .ts file and put it there. -->
        <!-- In this case, we grab message data from app.page-prestige.ts and put it here. -->
        <!-- You can find out what data is available to grab by looking at the variables below "export class PagePrestigeComponent" in app.page-shop.ts -->
        <p>{{message}}</p>
        <p>{{specialMessage}}</p>
    </div>
        <img src='{{soundImg}}' (click)="changeSound(this)" id="sound">
        <img src='{{musicImg}}' (click)="changeMusic(this)" id="music">
    </body>
</html>