@font-face {
    font-family: HackerFont;
    src: url(../assets/text/PressStart2P-Regular.ttf)
}

* {
    font-family: HackerFont;
    color: green;
    text-align: center;
}

h2 {
    font-size:30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.firewall {
    width:30%;
    height:auto;
}

#sound {
    width:10%;
    height:auto;
    float:left;
    position: fixed;
    bottom:1%;
}

.bitcoin {
    font-size:25px;
}

input {
    padding:10px;
    font-size: 20px;
    border-color: green;
    border-style: solid;
    background-color: black;
    outline: none;
    cursor: pointer;
    margin:10px;
}

input:hover {
    background-color: greenyellow;
}

input:active {
    background-color: greenyellow;
  }
