/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}

@media only screen and (orientation: portrait) {
    
    #top-nav{
        font-size: 3vw;
    }

}

@media only screen and (orientation: landscape) {
    
    #top-nav{
        font-size: 3vh;
    }

}